


<li>
	<div class="row">
	<div class="well well-sm col-md-6"> {{this.id}}.-  {{burger_name}}</div>
	<div class= "col-md-3"><button class=" btn btn-danger btn-lg delete-burger" data-id="{{this.id}}">Eat it!</button></div>
</div>
<br>
</li>
